{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/forms.css')}}">
{% endblock styles %}

{% block content %}
<h1 class="jumbotron">Sign In</h1>
<div style="margin-top:10%" class="container">
  <div class="row">  
      <div class="col-md-4"></div>
      <div class="col-md-4">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
          </div>  
        {% endfor %}
        <div class="card">
          {{wtf.quick_form(form)}}
          <div style="margin-top:20px;"><a href="{{url_for('auth.signup')}}" class="btn btn-outline-warning" style="color:black">Create an Account if you dont have one!</a></div>
        </div>
      </div>
      <div class="col-md-4"></div>        
  </div>
</div>

{% endblock content %}