{%extends 'base.html'%}
{%block content%}
    <div class="container">

        <section class="section-a">
            <div>
                <h1>Gas Chapp</h1>
                <p>
                    Out of gas?No need to worry. Order from the comfort of your home and we will deliver it in minutes!<br><br>

                    <button type="button" class="btn btn-warning btn-lg text-white"><a href="auth/login">Make an order</a></button>

                </p>
            </div>
            <img src="https://www.flogas.ie/assets/components/mor/General/img/InnerWideCylinders.jpg" alt="" />


        </section>
    </div>
{%endblock%}










</body>

</html>